server {
  listen    443 ssl;
  #配置HTTPS的默认访问端口443。
  #如果未在此处配置HTTPS的默认访问端口，可能会造成Nginx无法启动。
  #如果你使用Nginx 1.15.0及以上版本，请使用listen 443 ssl代替listen 443和ssl on。

  server_name  www.kamalyes.blog;             #证书绑定的域名(换成你自己的)

  # 增加ssl
  ssl_certificate /ssl/TecentServer.pem  #换成你自己的
  ssl_certificate_key /ssl/TecentServer.key;  #换成你自己的

  ssl_session_cache    shared:SSL:1m;
  ssl_session_timeout  5m;

  # 指定密码为openssl支持的格式
  ssl_protocols  SSLv2 SSLv3 TLSv1.2;

  ssl_ciphers  HIGH:!aNULL:!MD5;  # 密码加密方式
  ssl_prefer_server_ciphers  on;   # 依赖SSLv3和TLSv1协议的服务器密码将优先于客户端密码

  #charset koi8-r;
  #access_log  /var/log/nginx/host.access.log  main;

      # 定义首页索引目录和名称，nginx的默认首页的html文件，这个html可以自己定义一个，任意的都可以。
  location / {
      root   /usr/share/nginx/html;
      index  index.html index.htm;
  }

  #定义错误提示页面
  #error_page  404              /404.html;

  #重定向错误页面到 /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
      root   /usr/share/nginx/html;
  }

}
